@section scripts{
    <script src="~/js/exemplo_01.js"></script>
}
<div cite="text-center">
    <h1 class="display-4">Utilizando gráficos</h1>
    Saiba mais sobre o <a href="https://cdn.jsdelivr.net/npm/chart.js">Chart.js</a>
</div>
<div class="text-center">
    <canvas id="grafico" class="border border-4 border-blaxk" width="800" height="600"></canvas>
</div>